

/*All*/

body {

	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;

}

h1,h2,h3,h4,h5,h6,ul {
	
	margin: 0;
	padding: 0;

}

.titulo {
	
  font-size: 50px;
  font-weight: 300;
  color: white;
  font-family: 'Lato', sans-serif;

}
.texto {

  font-size: 1.17em;
  color: white;
  font-weight: 300;

}
p {

  font-size: 1.17em;
  color: white;
  font-weight: 300;

}

.f-blanca {
	
	color: white;

}


.f-verde {
	
	color: #74ab57;

}


.f-gris {

	color: #373737;

}

.container {

	width: 1000px;
	margin: 0 auto;

}

.btn-white {

	border: 1px solid white;
	padding: 10px 20px;
	color: white;
}

.clearfix {

	clear: both;

}

/* Fin All*/


/*Header*/

header {

	.menu {

		width: 100%;
		text-align: center;
		position: relative;

		&:after {
		
			content: '';
			width: 0; 
			height: 0; 
			border-left: 40px solid transparent;
			border-right: 40px solid transparent;
			
			border-top: 22px solid white;
			position: absolute;
			bottom: -21px;
			left: 50%;
			z-index: 99;
			margin-left: -63px;

		}

		&:before {
		
			content: '';
			width: 0; 
			height: 0; 
			border-left: 40px solid transparent;
			border-right: 40px solid transparent;
			
			border-top: 22px solid #74ab57;
			position: absolute;
			bottom: -24px;
			left: 50%;
			z-index: 99;
			margin-left: -63px;

		}

	}
	
	.menu-content {

		display: inline-block;

		ul {
		
			li {
			
				display: inline-block;
				padding: 10px 40px;

				a {
				
					font-size: 13px;
					color: #373737;
					text-decoration: none;

					&:hover {
					
						color: #74ab57;
					
					}

				}

			}

		}

	}

	.menu-brand {
	
		color: #74ab57;
		font-size: 20px;
		font-weight: 300;

	}

	// Slider
	.slider {
		
		border-top: solid 3px #74ab57;
		width: 100%;
		background-image: url(img/header/header.jpg);
		background-position: center center;
		background-size: cover;
		position: relative;

		.slider-opacity {
		
			height: 530px;
			background-color: rgba(0, 0, 0, .39);
	
		}
	
		.container-center {

			text-align: center;
			padding-top: 175px;

			h1 {

				.titulo;

			}

			h3 {
	
				color: white;
				font-weight: 300;

			}	

			a {

				border: 1px solid white;
				border-radius: 3px;
				background: transparent;
				padding: 10px 20px;
				color: white;
				text-decoration: none;
				display: inline-block;
				margin-top: 30px;

				&:hover {
		
					
					background-color: white;
					color: black;


				}
		
			}


		}


	}

}


/* Fin Header*/


/*Descripción*/

section.descripcion {


}

/* Fin Descripción*/


/*Producción Audivisual*/

section.audiovisual {
	background-image: url(img/audiovisual/fondoav.jpg);
	height: 500px;
	background-size: cover;
	background-position: center center;
	
	.bck{
		width: 50%;
		float: right;
		text-align: right;
	}
	.titulo{
		color: white;
		margin-top: 50px;
		width: 200;
	}
	h3 {
		color: white;
		width: ;
	}

}
/* Fin Producción Audivisual*/


/*Programación web y apps*/

section.web {
background-image: url(img/web/fondo.jpg);
height: 450px;
background-size: cover;

	

	.texto{
		float: right;
		text-align: right;
		color: white;
		width: 450px;
		margin-top: 45px; 
		margin-right: -55px;
	}


	h3{
		margin-top: 90px;
			}
			
	.degradado{
		height: 450px;
	background: -moz-linear-gradient(left,  rgba(69,72,77,0) 0%, rgba(69,72,77,0.02) 1%, rgba(24,25,26,1) 66%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(69,72,77,0)), color-stop(1%,rgba(69,72,77,0.02)), color-stop(66%,rgba(24,25,26,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(69,72,77,0) 0%,rgba(69,72,77,0.02) 1%,rgba(24,25,26,1) 66%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(69,72,77,0) 0%,rgba(69,72,77,0.02) 1%,rgba(24,25,26,1) 66%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(69,72,77,0) 0%,rgba(69,72,77,0.02) 1%,rgba(24,25,26,1) 66%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(69,72,77,0) 0%,rgba(69,72,77,0.02) 1%,rgba(24,25,26,1) 66%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0045484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 */

	}
}


/* Fin Programación web y apps*/


/*Diseño gráfico*/

section.grafico {

	background: #369c89;
	width: auto;
	overflow: hidden;

	.borderup {
		
		background: white;
		width: auto;
		height: 21px;

	}

	.triangulo img {

		margin-left: 50%;
	}

	.imagenprincipal img{

		height: 426px;
		margin: 0;
		float: right;
		margin-right: -6%; 

	}

	.principal {

		width: auto;
		height: auto;
	}


	.principal h2 {

		font-size: 57px;
		font-weight: 600;
		color: white;
		margin-left: 14px;

	}

	.principal .subtext {

		margin: 35px 0 81px 54px;

	}

	.principal .subtext p{

		font-size: 21px;
		font-weight: 500;
		color: #ecf2e9;

	}

	.tabla {

		width: 141px;

	}

	.tabla img{

		height: 50px;
	}

	.tabla p{

		color: white;
		font-size: 11px;
		text-align: center;
	}


}

/* Fin Diseño gráfico*/


/*Diseño 3d*/

section.realidad {
	
		background-image: url(img/realidad/carro.png);
	  	height: 450px;
	  	background-size: cover;


	h2 {
		color: black;
	}

	h3{
		margin-top: 45px;
		font-size: 20px;
		font-weight: 300;
		line-height: 2;
	}

	.container-wrap{

		float: left;
		text-align: left;
		color: black;
		width: 401px;
	  	margin-top: 45px;
	  	margin-right: -55px;
	}

	
}






/* Fin Diseño 3d*/


/*Campo de trabajo*/

section.trabajo {


}


/* Fin Campo de trabajo*/


/*Contacto*/

section.contacto {


}

/* Fin Contacto*/