/*All*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}
.f-blanca {
  color: white;
}
.f-verde {
  color: #74ab57;
}
.f-gris {
  color: #373737;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.btn-white {
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
}
/* Fin All*/
/*Header*/
/* Fin Header*/
/*Descripción*/
/* Fin Descripción*/
/*Producción Audivisual*/
/* Fin Producción Audivisual*/
/*Programación web y apps*/
/* Fin Programación web y apps*/
/*Diseño gráfico*/
section.grafico {
  background: #369c89;
  width: auto;
  overflow: hidden;
}
section.grafico .borderup {
  background: white;
  width: auto;
  height: 21px;
}
section.grafico .triangulo img {
  margin-left: 50%;
}
section.grafico .imagenprincipal img {
  height: 426px;
  margin: 0;
  float: right;
  margin-right: -6%;
}
section.grafico .principal {
  width: auto;
  height: auto;
}
section.grafico .principal h2 {
  font-size: 57px;
  font-weight: 600;
  color: white;
  margin-left: 25px;
}
section.grafico .principal .subtext {
  margin: 45px 0 0 68px;
}
section.grafico .principal .subtext p {
  font-size: 24px;
  font-weight: 400;
  color: #ecf2e9;
}
section.grafico .tabla img {
  height: 90px;
}
/* Fin Diseño gráfico*/
/*Diseño 3d*/
/* Fin Diseño 3d*/
/*Campo de trabajo*/
/* Fin Campo de trabajo*/
/*Contacto*/
/* Fin Contacto*/
