/*All*/

body {

	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;

}

h1,h2,h3,h4,h5,h6,ul {
	
	margin: 0;
	padding: 0;

}


.f-blanca {
	
	color: white;

}


.f-verde {
	
	color: #74ab57;

}


.f-gris {

	color: #373737;

}

.container {

	width: 1000px;
	margin: 0 auto;

}

.btn-white {

	border: 1px solid white;
	padding: 10px 20px;
	color: white;
}

/* Fin All*/


/*Header*/

header {


}


/* Fin Header*/


/*Descripción*/

section.descripcion {


}

/* Fin Descripción*/


/*Producción Audivisual*/

section.audiovisual {


}

/* Fin Producción Audivisual*/


/*Programación web y apps*/

section.web {


}


/* Fin Programación web y apps*/


/*Diseño gráfico*/

section.grafico {


}

/* Fin Diseño gráfico*/


/*Diseño 3d*/

section.realidad {


}

/* Fin Diseño 3d*/


/*Campo de trabajo*/

section.trabajo {


}


/* Fin Campo de trabajo*/


/*Contacto*/

section.contacto {


}

/* Fin Contacto*/