

/*All*/

body {

	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;

}

h1,h2,h3,h4,h5,h6,ul {
	
	margin: 0;
	padding: 0;

}

section  {

	border-top: 2px solid white;

}

.titulo {
	
  font-size: 50px;
  font-weight: 300;
  color: white;
  font-family: 'Lato', sans-serif;

}
.texto {

  font-size: 1.17em;
  color: white;
  font-weight: 300;

}
p {

  font-size: 1.17em;
  color: white;
  font-weight: 300;

}

.f-blanca {
	
	color: white;

}


.f-verde {
	
	color: #74ab57;

}


.f-gris {

	color: #373737;

}

.container {

	width: 1000px;
	margin: 0 auto;

}

.btn-white {

	border: 1px solid white;
	padding: 10px 20px;
	color: white;
}

.clearfix {

	clear: both;

}

/* Fin All*/


/*Header*/

header {

	.menu {

		width: 100%;
		text-align: center;
		position: relative;

		&:after {
		
			content: '';
			width: 0; 
			height: 0; 
			border-left: 40px solid transparent;
			border-right: 40px solid transparent;
			
			border-top: 22px solid white;
			position: absolute;
			bottom: -21px;
			left: 50%;
			z-index: 99;
			margin-left: -63px;

		}

		&:before {
		
			content: '';
			width: 0; 
			height: 0; 
			border-left: 40px solid transparent;
			border-right: 40px solid transparent;
			
			border-top: 22px solid #74ab57;
			position: absolute;
			bottom: -24px;
			left: 50%;
			z-index: 99;
			margin-left: -63px;

		}

	}
	
	.menu-content {

		display: inline-block;

		ul {
		
			li {
			
				display: inline-block;
				padding: 10px 40px;

				a {
				
					font-size: 13px;
					color: #373737;
					text-decoration: none;

					&:hover {
					
						color: #74ab57;
					
					}

				}

			}

		}

	}

	.menu-brand {
	
		color: #74ab57;
		font-size: 20px;
		font-weight: 300;

	}

	// Slider
	.slider {
		
		border-top: solid 3px #74ab57;
		width: 100%;
		background-image: url(img/header/header.jpg);
		background-position: bottom center;
		background-size: cover;
		position: relative;

		.slider-opacity {
		
			height: 530px;
			background-color: rgba(0, 0, 0, .39);
	
		}
	
		.container-center {

			text-align: center;
			padding-top: 175px;

			h1 {

				.titulo;

			}

			h3 {
	
				color: white;
				font-weight: 300;

			}	

			a {

				border: 1px solid white;
				border-radius: 3px;
				background: transparent;
				padding: 10px 20px;
				color: white;
				text-decoration: none;
				display: inline-block;
				margin-top: 30px;

				&:hover {
		
					
					background-color: white;
					color: black;


				}
		
			}


		}


	}

}


/* Fin Header*/


/*Descripción*/

section.descripcion {
background: #fff;
height: 400px;

.container {
	width: 900px;
	margin: 0 auto;


}
.container .textochico{
	padding-top: 25px;
	width: 100%;
	float: right;
	
}
.container .textochico p{
	color: #888886;
	margin-bottom: 45px;
}
.container .menu{
	text-align: center;
}
.container .menu img{
	margin-right: 35px;
}
}

/* Fin Descripción*/


/*Prueba*/


section.prueba {

	width: 100%;
	height: 450px;
	background-image: url(img/prueba/AAD3070-2.jpg);
	background-size: cover;
	background-position: center center;


	.fondo {

		width: 100%;
		height: 450px;

		background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.59) 25%, rgba(0,0,0,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.75)), color-stop(25%,rgba(0,0,0,0.59)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.59) 25%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.59) 25%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.59) 25%,rgba(0,0,0,0) 100%); /* IE10+ */
		background: linear-gradient(135deg,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.59) 25%,rgba(0,0,0,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	}


	.container-left {

		float: left;
		color: white;
		width: 40%;
		padding-top: 10%;


		h2 {

			margin-bottom: 20px;

		}
	
	}

}


/*Fin Prueba*/


/*Producción Audivisual*/

section.audiovisual {
	background-image: url(img/audiovisual/fondoav.jpg);
	height: 450px;
	background-size: cover;
}

/* Fin Producción Audivisual*/


/*Programación web y apps*/

section.web {
	margin-top: -30px;
background-image: url(img/web/fondo3.jpg);
height: 460px;
background-size: cover;



	.cuadro{
		float: right;
		text-align: right;
		color: white;
		width: 460px;
		margin-top: 10%; 
	}


	h3{
		margin-top: 15%;
	width: 80%;
	float: right;

			}
			
	.degradado{
		height: 460px;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.09) 1%, rgba(0,0,0,1) 63%, rgba(0,0,0,1) 89%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(0,0,0,0.09)), color-stop(63%,rgba(0,0,0,1)), color-stop(89%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.09) 1%,rgba(0,0,0,1) 63%,rgba(0,0,0,1) 89%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0.09) 1%,rgba(0,0,0,1) 63%,rgba(0,0,0,1) 89%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0.09) 1%,rgba(0,0,0,1) 63%,rgba(0,0,0,1) 89%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0.09) 1%,rgba(0,0,0,1) 63%,rgba(0,0,0,1) 89%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */

	}
}


/* Fin Programación web y apps*/


/*Diseño gráfico*/

section.grafico {

	background: #369c89;
	height: 500px;

	.container-imagen{
		
		background-image: url(img/grafico/principal2.png);
		background-position: right;
		background-repeat: no-repeat;

	}

	.container-contenido {

		padding: 64px 0px 0px 10px;
		height: 436px;

	}

	.cajas {

		float: left;
		
	}

	.subtext {

		font-size: 18px;
		color: #ecf2e9;
		width: 850px;

	}

	.subtext p {

		margin-right: 199px;

	}


	.tabla {

		width: 185px;
		text-align: center;
		font-size: 11px;
		display: inline-table;
		margin: 70px 40px 0 0;
		color: white;

	}

	.tabla img {

		height: 50px;

	}

}

/* Fin Diseño gráfico*/


/*Diseño 3d*/

section.realidad {
	
		
	  	height: 470px;
	  	background-color: #b4c6c6;
	  	
		background-image: url(img/realidad/carro.png);
	  	background-position: right;
	  	background-repeat: no-repeat;


	

	.container-wrap{

		float: left;
		text-align: left;
		color: black;
		width: 39%;
	  	margin-top: 40px;
	  	margin-right: -30px;
	  	margin-left: 90px;


	h2{
		color: black;
		}

	h3{
		margin-top: 40px;
		font-size: 20px;
		font-weight: 300;
		color: black;
		}
	
	}


 }
	
	
	
	

	







/* Fin Diseño 3d*/


/*Campo de trabajo*/

section.trabajo {


}


/* Fin Campo de trabajo*/


/*Contacto*/

section.contacto {


}

/* Fin Contacto*/